<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Metiers du Web</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>Quelques métiers du Web</h1>
    
	<img src="https://cdn.pixabay.com/photo/2016/09/21/11/24/carousel-1684591__340.png" 
	alt="image d'illustration des métiers du web">
	
	<h2>Webdesigner</h2>
	
	<p>À la fois artiste et informaticien, le webdesigner est capable de 
	réaliser une interface web ergonomique et un design adapté au contenu 
	d'un site Internet donné.</p>
	
	<h3>Les formations et les diplomes</h3>
	
	<p><strong>Après le bac</strong><br>
	2 ans pour préparer le BTS design graphique, option communication et 
	médias numériques, ou le DUT métiers du multimédia et de l'Internet, 
	éventuellement complété par une licence professionelle en webdesign, 
	création web, design numérique, services et produits multimédias... 
	(1 an). Autre solution : préparer en 3 ans le DN MADE mention 
	numérique.</p>
	
	<h2>Architecte web</h2>
	
	<p>Expert technique, l'architecte web a pour mission principale de 
	créer et de faire évoluer le schéma technique d'une application mobile 
	ou d'un site Internet. Il intervient sur des projets de grande envergure
	et conseille l'ensemble de l'équipe projet.</p>
	
	<h3>Les formations et les diplomes</h3>
	
	<p><strong>Après le bac</strong><br>
	A partir de bac + 5 (master du secteur informatique ou diplôme 
	d'ingénieur spécialisé en informatique, télécoms et architecture 
	web).</p>
	
	<h2>Intégrateur/trice web</h2>
	
	<p>Travaillant dans une agence web, en indépendant ou dans une ESN 
	(entreprise de services du numérique), l'intégrateur web assemble 
	différents éléments (textes, images, sons, vidéos, animations) en vue 
	de la construction d'un site Internet.</p>
	
	<h3>Les formations et les diplomes</h3>
	
	<p><strong>Après le bac</strong><br>
	2 ans pour préparer un BTS ou un DUT du secteur informatique ou 
	multimédia, éventuellement complété par une licence pro métiers du 
	numérique : conception, rédaction et réalisation web (1 an). Autres 
	possibilités : certificat ou diplôme d'école spécialisée.</p>
	
	<p>Pour plus d'informations sur ces métiers et en découvrir d'autres, 
	rendez-vous sur : <a href="http://www.onisep.fr/">Site de l'ONISEP</a>
	</p>
	
</body>
</html>